 .widget-85b0db .text, .widget-85b0db .image{
    display:inline;
}
.widget-85b0db .image{
    max-width:100%;
    width:200px;
}
.widget-85b0db .left{
    clear:left;
    float:left;
    margin-right: 10px;
}
.widget-85b0db .right{
    clear:right;
    float:right;
    margin-left: 10px;
}
.widget-85b0db .spacer-left{
    float:left;
}
.widget-85b0db .spacer-right{
    float:right;
}
#dm .widget-85b0db .wrapper, #dm .widget-85b0db .rteBlock {
    text-align: justify;
}
#dm .widget-85b0db ul, #dm .widget-85b0db ol {
    padding: 0;
    list-style-position: inside;
}

/** 2nd */
 *#dm *.dmBody div.u_1422486861
{
	background-color:rgba(0,0,0,0) !important;
}
*#dm *.dmBody section.u_1897767439
{
	background-image:url(md/unsplash/dms3rep/multi/opt/photo-1496938461470-aaa34930e2d7-2880w.jpg) !important;
	background-color:rgba(181,49,44,1) !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
}
*#dm *.dmBody *.u_1897767439:before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1897767439.before
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody *.u_1897767439>.bgExtraLayerOverlay
{
	opacity:0.5 !important;
	background-color:rgb(255,255,255) !important;
}
*#dm *.dmBody section.u_1897767439:before
{
	background-color:rgba(181,49,44,1) !important;
	opacity:0.92 !important;
}
*#dm *.dmBody section.u_1897767439.before
{
	background-color:rgba(181,49,44,1) !important;
	opacity:0.92 !important;
}
*#dm *.dmBody section.u_1897767439>.bgExtraLayerOverlay
{
	background-color:rgba(181,49,44,1) !important;
	opacity:0.92 !important;
}
*#dm *.dmBody div.u_1505275905 input:not([type="submit"])
{
	border-style:solid !important;
	border-width:0 !important;
	background-color:rgba(227,227,227,1) !important;
}
*#dm *.dmBody div.u_1505275905 textarea
{
	border-style:solid !important;
	border-width:0 !important;
	background-color:rgba(227,227,227,1) !important;
}
*#dm *.dmBody div.u_1505275905 select
{
	border-style:solid !important;
	border-width:0 !important;
	background-color:rgba(227,227,227,1) !important;
}
*#dm *.dmBody *.u_1505275905 .dmformsubmit
{
	float:LEFT !important;
}
*#dm *.dmBody div.u_1505275905 .dmform-success
{
	color:rgba(102,102,102,1) !important;
}
*#dm *.dmBody div.dmform-error
{
	color:rgba(102,102,102,1) !important;
}
*#dm *.dmBody div.u_1505275905 .dmform-success .rteBlock
{
	color:rgba(102,102,102,1) !important;
}
*#dm *.dmBody div.dmform-error .rteBlock
{
	color:rgba(102,102,102,1) !important;
}
*#dm *.dmBody div.u_1505275905 .dmwidget-title
{
	color:rgba(102,102,102,1) !important;
}
*#dm *.dmBody div.u_1505275905 .dmforminput label:not(.for-checkable):not(.custom-contact-checkable)
{
	/* color:rgba(102,102,102,1) !important; */
	
}
*#dm *.dmBody div.u_1505275905 .m-recaptcha
{
	/* color:rgba(102,102,102,1) !important; */
}
*#dm *.dmBody *.u_1855841291 .wrapper
{
	text-align:LEFT !important;
}
*#dm *.dmBody *.u_1855841291 .rteBlock
{
	text-align:LEFT !important;
}
*#dm *.dmBody div.u_1855841291 .wrapper
{
	color:rgba(26,26,26,1) !important;
}
*#dm *.dmBody div.u_1855841291 .rteBlock
{
	color:rgba(26,26,26,1) !important;
}
*#dm *.dmBody div.u_1833944401
{
	color:rgba(0,0,0,1) !important;
}

/*** #rd **/
 *#dm *.dmBody div.u_1422486861
{
	padding-top:36.5px !important;
	padding-left:40px !important;
	padding-bottom:36.5px !important;
	float:none !important;
	top:auto !important;
	max-width:none !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:center !important;
	height:auto !important;
}
*#dm *.dmBody h1.u_1453001980
{
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	float:none !important;
	margin-right:157.5px !important;
	margin-left:157.5px !important;
	top:0 !important;
	max-width:calc(100% - 157px) !important;
	left:0 !important;
	width:645px !important;
	margin-top:66px !important;
	position:relative !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:25px !important;
	text-align:center !important;
	height:auto !important;
	display:block !important;
}
*#dm *.dmBody h3.u_1453001980
{
	display:block !important;
	float:none !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0 !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:0 !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0 !important;
	min-width:0 !important;
	text-align:left !important;
}
*#dm *.dmBody section.u_1897767439
{
	padding-top:13.5px !important;
	padding-left:40px !important;
	padding-bottom:13.5px !important;
	float:none !important;
	top:0 !important;
	max-width:100% !important;
	left:0 !important;
	width:auto !important;
	position:relative !important;
	padding-right:40px !important;
	min-width:0 !important;
	text-align:center !important;
	height:auto !important;
	margin-right:0 !important;
	margin-left:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	background-attachment:initial !important;
	background-position:0 50% !important;
}
*#dm *.dmBody div.u_1505275905 .dmwidget-title
{
	font-size:18px !important;
}
*#dm *.dmBody div.u_1855841291 .image
{
	width:479px !important;
}
*#dm *.dmBody div.u_1855841291 .wrapper
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1855841291 .rteBlock
{
	font-size:14px !important;
}
*#dm *.dmBody div.u_1330770612
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:166px !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	margin-right:auto !important;
	margin-left:30px !important;
	max-width:100% !important;
	margin-top:8px !important;
	margin-bottom:8px !important;
	padding-right:0px !important;
	min-width:0 !important;
	text-align:left !important;
	display:block !important;
}

*#dm *.dmBody div.u_1833944401
{
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-top:2px !important;
	padding-left:0px !important;
	padding-bottom:2px !important;
	max-width:207px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:left !important;
	margin-right:0px !important;
	margin-left:30px !important;
	margin-top:14px !important;
	margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1505275905
{
	padding-top:0px !important;
	float:none !important;
	top:0px !important;
	left:0px !important;
	width:calc(100% - 0px) !important;
	position:relative !important;
	height:auto !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	max-width:100% !important;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-right:0px !important;
	min-width:25px !important;
	text-align:center !important;
}
/** 4th **/
  .font-size-26, .size-26, .size-26 > font { font-size: 26px !important; }.font-size-18, .size-18, .size-18 > font { font-size: 18px !important; }.font-size-16, .size-16, .size-16 > font { font-size: 16px !important; }.font-size-16, .size-16, .size-16 > font { font-size: 16px !important; }.font-size-16, .size-16, .size-16 > font { font-size: 16px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }.font-size-14, .size-14, .size-14 > font { font-size: 14px !important; }