@charset "UTF-8";
@font-face {
	font-family: FontAwesome;
	font-display: block;
	src: url(fonts/fontawesome-webfont.eot);
	src: url(fonts/fontawesome-webfont.eot) format("embedded-opentype"), url(fonts/fontawesome-webfont.woff) format("woff"), url(fonts/fontawesome-webfont.ttf) format("truetype"), url(fonts/fontawesome-webfont.svg) format("svg");
	font-weight: 400;
	font-style: normal;
	font-display: block
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(s/opensans/v23/mem8yags126mizpba-ufvz0b.woff) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-display: swap
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(s/opensans/v23/mem6yags126mizpba-ufuk0zdc0.woff) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-display: swap
}


.font-size-26 {
	font-size: 26px!important
}

.font-size-28 {
	font-size: 28px!important
}

.font-size-22 {
	font-size: 22px!important
}

.font-size-14 {
	font-size: 14px!important
}

.font-size-16,
.size-16 {
	font-size: 16px!important
}

#imageZone {
	position: absolute;
	margin: auto
}

.coloumns {
	border-radius: 3px;
	background-color: #f9980d;
	height: 18px;
	width: 6px;
	-webkit-animation-name: loader;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: loader;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	opacity: .25;
	-webkit-transform: scale(.7);
	-webkit-transform-origin: 50% 180%;
	-moz-transform: scale(.7);
	-moz-transform-origin: 50% 180%;
	position: absolute
}

#coloumn1 {
	-webkit-transform: rotate(0);
	-webkit-animation-delay: -.914s;
	-moz-transform: rotate(0);
	-moz-animation-delay: -.914s
}

#coloumn2 {
	-webkit-transform: rotate(30deg);
	-webkit-animation-delay: -.831s;
	-moz-transform: rotate(30deg);
	-moz-animation-delay: -.831s
}

#coloumn3 {
	-webkit-transform: rotate(60deg);
	-webkit-animation-delay: -.747s;
	-moz-transform: rotate(60deg);
	-moz-animation-delay: -.747s
}

#coloumn4 {
	-webkit-transform: rotate(90deg);
	-webkit-animation-delay: -.664s;
	-moz-transform: rotate(90deg);
	-moz-animation-delay: -.664s
}

#coloumn5 {
	-webkit-transform: rotate(120deg);
	-webkit-animation-delay: -.581s;
	-moz-transform: rotate(120deg);
	-moz-animation-delay: -.581s
}

#coloumn6 {
	-webkit-transform: rotate(150deg);
	-webkit-animation-delay: -.498s;
	-moz-transform: rotate(150deg);
	-moz-animation-delay: -.498s
}

#coloumn7 {
	-webkit-transform: rotate(180deg);
	-webkit-animation-delay: -.415s;
	-moz-transform: rotate(180deg);
	-moz-animation-delay: -.415s
}

#coloumn8 {
	-webkit-transform: rotate(210deg);
	-webkit-animation-delay: -.332s;
	-moz-transform: rotate(210deg);
	-moz-animation-delay: -.332s
}

#coloumn9 {
	-webkit-transform: rotate(240deg);
	-webkit-animation-delay: -.249s;
	-moz-transform: rotate(240deg);
	-moz-animation-delay: -.249s
}

#coloumn10 {
	-webkit-transform: rotate(270deg);
	-webkit-animation-delay: -.166s;
	-moz-transform: rotate(270deg);
	-moz-animation-delay: -.166s
}

#coloumn11 {
	-webkit-transform: rotate(300deg);
	-webkit-animation-delay: -83ms;
	-moz-transform: rotate(300deg);
	-moz-animation-delay: -83ms
}

#coloumn12 {
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg)
}

@-webkit-keyframes loader {
	0% {
		opacity: 1
	}
	100% {
		opacity: .25
	}
}

@-moz-keyframes loader {
	0% {
		opacity: 1
	}
	100% {
		opacity: .25
	}
}

.dmDesktopBody [data-anim-desktop]:not([data-anim-desktop='none']) {
	visibility: hidden;
}
#imageZone {
	position: absolute;
	margin: auto;
}

.coloumns {
	border-radius: 3px;
	background-color: rgb(249, 152, 13);
	/*border:1px solid #999;*/
	height: 18px;
	width: 6px;
	-webkit-animation-name: loader;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: loader;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	opacity: .25;
	-webkit-transform: scale(0.7);
	-webkit-transform-origin: 50% 180%;
	-moz-transform: scale(0.7);
	-moz-transform-origin: 50% 180%;
	position: absolute;
}

#coloumn1 {
	-webkit-transform: rotate(0deg);
	-webkit-animation-delay: -.914s;
	-moz-transform: rotate(0deg);
	-moz-animation-delay: -.914s;
}

#coloumn2 {
	-webkit-transform: rotate(30deg);
	-webkit-animation-delay: -.831s;
	-moz-transform: rotate(30deg);
	-moz-animation-delay: -.831s;
}

#coloumn3 {
	-webkit-transform: rotate(60deg);
	-webkit-animation-delay: -.747s;
	-moz-transform: rotate(60deg);
	-moz-animation-delay: -.747s;
}

#coloumn4 {
	-webkit-transform: rotate(90deg);
	-webkit-animation-delay: -.664s;
	-moz-transform: rotate(90deg);
	-moz-animation-delay: -.664s;
}

#coloumn5 {
	-webkit-transform: rotate(120deg);
	-webkit-animation-delay: -.581s;
	-moz-transform: rotate(120deg);
	-moz-animation-delay: -.581s;
}

#coloumn6 {
	-webkit-transform: rotate(150deg);
	-webkit-animation-delay: -.498s;
	-moz-transform: rotate(150deg);
	-moz-animation-delay: -.498s;
}

#coloumn7 {
	-webkit-transform: rotate(180deg);
	-webkit-animation-delay: -.415s;
	-moz-transform: rotate(180deg);
	-moz-animation-delay: -.415s;
}

#coloumn8 {
	-webkit-transform: rotate(210deg);
	-webkit-animation-delay: -.332s;
	-moz-transform: rotate(210deg);
	-moz-animation-delay: -.332s;
}

#coloumn9 {
	-webkit-transform: rotate(240deg);
	-webkit-animation-delay: -.249s;
	-moz-transform: rotate(240deg);
	-moz-animation-delay: -.249s;
}

#coloumn10 {
	-webkit-transform: rotate(270deg);
	-webkit-animation-delay: -.166s;
	-moz-transform: rotate(270deg);
	-moz-animation-delay: -.166s;
}

#coloumn11 {
	-webkit-transform: rotate(300deg);
	-webkit-animation-delay: -.083s;
	-moz-transform: rotate(300deg);
	-moz-animation-delay: -.083s;
}

#coloumn12 {
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
}

@-webkit-keyframes loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .25;
	}
}

@-moz-keyframes loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .25;
	}
}

*#dm *.dmBody section.u_1867437211 {
	background-image: none !important;
	background-color: rgb(238, 238, 238) !important
}

*#dm *.dmBody section.u_1307214832 {
	background-image: url(md/unsplash/dms3rep/multi/opt/photo-1496938461470-aaa34930e2d7-2880w.jpg) !important;
	background-color: rgba(181, 49, 44, 1) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important
}

*#dm *.dmBody *.u_1307214832:before {
	opacity: 0.5 !important;
	background-color: rgb(255, 255, 255) !important
}

*#dm *.dmBody *.u_1307214832.before {
	opacity: 0.5 !important;
	background-color: rgb(255, 255, 255) !important
}

*#dm *.dmBody *.u_1307214832>.bgExtraLayerOverlay {
	opacity: 0.5 !important;
	background-color: rgb(255, 255, 255) !important
}

*#dm *.dmBody section.u_1307214832:before {
	background-color: rgba(181, 49, 44, 1) !important;
	opacity: 0.92 !important
}

*#dm *.dmBody section.u_1307214832.before {
	background-color: rgba(181, 49, 44, 1) !important;
	opacity: 0.92 !important
}

*#dm *.dmBody section.u_1307214832>.bgExtraLayerOverlay {
	background-color: rgba(181, 49, 44, 1) !important;
	opacity: 0.92 !important
}

*#dm *.dmBody div.u_1068790658 {
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody div.u_1953611347 input:not([type="submit"]) {
	border-style: solid !important;
	border-width: 0 !important;
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody div.u_1953611347 textarea {
	border-style: solid !important;
	border-width: 0 !important;
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody div.u_1953611347 select {
	border-style: solid !important;
	border-width: 0 !important;
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody *.u_1953611347 .dmformsubmit {
	float: LEFT !important
}

*#dm *.dmBody div.u_1953611347 .dmform-success {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1953611347 .dmform-success .rteBlock {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1953611347 .dmforminput label:not(.for-checkable):not(.custom-contact-checkable) {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1953611347 .m-recaptcha {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1953611347 .dmwidget-title {
	color: rgba(0, 0, 0, 1) !important
}

*#dm *.dmBody div.u_1253345738 {
	background-color: rgba(0, 0, 0, 0) !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important
}

*#dm *.dmBody div.u_1718609389 hr {
	color: rgba(0, 0, 0, 1) !important;
	border-top-style: solid !important;
	border-top-width: 1px !important
}

*#dm *.dmBody div.u_1485000922 {
	color: rgba(0, 0, 0, 1) !important
}

*#dm *.dmBody div.u_1944701691 {
	background-color: rgba(181, 49, 44, 0.45) !important;
	background-repeat: no-repeat !important;
	background-image: url(md/dmip/dms3rep/multi/opt/small-diagonal-checks-texture-2880w.png) !important;
	background-size: cover !important
}


*#dm *.dmBody section.u_1867437211 {
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	float: none !important;
	top: auto !important;
	max-width: none !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	padding-right: 0 !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
	margin-right: auto !important;
	margin-left: auto !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

*#dm *.dmBody div.u_1874069096 {
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	float: none !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	top: 0 !important;
	max-width: calc(100% - 0px) !important;
	left: 0 !important;
	width: 100% !important;
	margin-top: 0 !important;
	position: relative !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	height: 325px !important;
}

*#dm *.dmBody h1.u_1969991425 {
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	float: none !important;
	margin-right: 157.5px !important;
	margin-left: 157.5px !important;
	top: 0 !important;
	max-width: calc(100% - 157px) !important;
	left: 0 !important;
	width: 645px !important;
	margin-top: 66px !important;
	position: relative !important;
	margin-bottom: 8px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	height: auto !important;
	display: block !important;
}

*#dm *.dmBody h3.u_1969991425 {
	display: block !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	margin-right: auto !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	padding-right: 0 !important;
	min-width: 0 !important;
	text-align: left !important;
}

*#dm *.dmBody section.u_1307214832 {
	padding-top: 13.5px !important;
	padding-left: 40px !important;
	padding-bottom: 13.5px !important;
	float: none !important;
	top: 0 !important;
	max-width: 100% !important;
	left: 0 !important;
	width: auto !important;
	position: relative !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
	background-attachment: initial !important;
	background-position: 0 50% !important;
}

*#dm *.dmBody h1.u_1969991425 {
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	float: none !important;
	margin-right: 157.5px !important;
	margin-left: 157.5px !important;
	top: 0 !important;
	max-width: calc(100% - 157px) !important;
	left: 0 !important;
	width: 645px !important;
	margin-top: 66px !important;
	position: relative !important;
	margin-bottom: 8px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	height: auto !important;
	display: block !important;
}

*#dm *.dmBody h3.u_1969991425 {
	display: block !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	margin-right: auto !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	padding-right: 0 !important;
	min-width: 0 !important;
	text-align: left !important;
}

*#dm *.dmBody section.u_1307214832 {
	padding-top: 13.5px !important;
	padding-left: 40px !important;
	padding-bottom: 13.5px !important;
	float: none !important;
	top: 0 !important;
	max-width: 100% !important;
	left: 0 !important;
	width: auto !important;
	position: relative !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
	background-attachment: initial !important;
	background-position: 0 50% !important;
}

*#dm *.dmBody h1.u_1907609979 {
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	float: none !important;
	top: 0 !important;
	max-width: calc(100% - 157px) !important;
	left: 0 !important;
	width: 645px !important;
	position: relative !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	height: auto !important;
	display: block !important;
}

*#dm *.dmBody h3.u_1907609979 {
	display: block !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 100% !important;
	padding-right: 0 !important;
	min-width: 0 !important;
	text-align: left !important;
}

*#dm *.dmBody h1.u_1907609979 {
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	float: none !important;
	top: 0 !important;
	max-width: calc(100% - 157px) !important;
	left: 0 !important;
	width: 645px !important;
	position: relative !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	height: auto !important;
	display: block !important;
}

*#dm *.dmBody h3.u_1907609979 {
	display: block !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 100% !important;
	padding-right: 0 !important;
	min-width: 0 !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1068790658 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: auto !important;
	position: relative !important;
	height: auto !important;
	padding-top: 40px !important;
	padding-left: 40px !important;
	padding-bottom: 40px !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: start !important;
}

*#dm *.dmBody div.u_1253345738 {
	padding-top: 36.5px !important;
	padding-left: 40px !important;
	padding-bottom: 36.5px !important;
	float: none !important;
	top: auto !important;
	max-width: none !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
}

*#dm *.dmBody div.u_1953611347 {
	padding-top: 0 !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 16px !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
}

*#dm *.dmBody div.u_1953611347 .dmwidget-title {
	font-size: 30px !important;
}

*#dm *.dmBody div.u_1253345738 {
	padding-top: 36.5px !important;
	padding-left: 40px !important;
	padding-bottom: 36.5px !important;
	float: none !important;
	top: auto !important;
	max-width: none !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
}

*#dm *.dmBody div.u_1953611347 {
	padding-top: 0 !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 16px !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
}

*#dm *.dmBody div.u_1953611347 .dmwidget-title {
	font-size: 30px !important;
}

*#dm *.dmBody div.u_1193814124 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 162px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-right: 0 !important;
	margin-left: 162px !important;
	max-width: 381px !important;
	margin-top: 7px !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
}

*#dm *.dmBody div.u_1384753443 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 166px !important;
	margin-top: 16px !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1384753443 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	max-width: 166px !important;
	margin-top: 16px !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1727328452 {
	margin-left: 0 !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
}

*#dm *.dmBody div.u_1665393511 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 207px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1665393511 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 207px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1485000922 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 207px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1485000922 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 207px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1718609389 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-right: 66px !important;
	margin-left: 0 !important;
	max-width: 207px !important;
	margin-top: 12px !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	display: block !important;
}

*#dm *.dmBody div.u_1944701691 {
	background-repeat: repeat !important;
	background-size: auto !important;
}

*#dm *.dmBody div.u_1156329986 {
	float: none !important;
	top: 0px !important;
	left: 0px !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0px !important;
	padding-bottom: 2px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	max-width: 100% !important;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	padding-right: 0px !important;
	min-width: 25px !important;
}


.font-size-26,
.size-26,
.size-26>font {
	font-size: 26px !important;
}

.font-size-28,
.size-28,
.size-28>font {
	font-size: 28px !important;
}

.font-size-22,
.size-22,
.size-22>font {
	font-size: 22px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-11,
.size-11,
.size-11>font {
	font-size: 11px !important;
}