#imageZone {
	position: absolute;
	margin: auto;
}

.coloumns {
	border-radius: 3px;
	background-color: rgb(249, 152, 13);
	/*border:1px solid #999;*/
	height: 18px;
	width: 6px;
	-webkit-animation-name: loader;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-moz-animation-name: loader;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	opacity: .25;
	-webkit-transform: scale(0.7);
	-webkit-transform-origin: 50% 180%;
	-moz-transform: scale(0.7);
	-moz-transform-origin: 50% 180%;
	position: absolute;
}

#coloumn1 {
	-webkit-transform: rotate(0deg);
	-webkit-animation-delay: -.914s;
	-moz-transform: rotate(0deg);
	-moz-animation-delay: -.914s;
}

#coloumn2 {
	-webkit-transform: rotate(30deg);
	-webkit-animation-delay: -.831s;
	-moz-transform: rotate(30deg);
	-moz-animation-delay: -.831s;
}

#coloumn3 {
	-webkit-transform: rotate(60deg);
	-webkit-animation-delay: -.747s;
	-moz-transform: rotate(60deg);
	-moz-animation-delay: -.747s;
}

#coloumn4 {
	-webkit-transform: rotate(90deg);
	-webkit-animation-delay: -.664s;
	-moz-transform: rotate(90deg);
	-moz-animation-delay: -.664s;
}

#coloumn5 {
	-webkit-transform: rotate(120deg);
	-webkit-animation-delay: -.581s;
	-moz-transform: rotate(120deg);
	-moz-animation-delay: -.581s;
}

#coloumn6 {
	-webkit-transform: rotate(150deg);
	-webkit-animation-delay: -.498s;
	-moz-transform: rotate(150deg);
	-moz-animation-delay: -.498s;
}

#coloumn7 {
	-webkit-transform: rotate(180deg);
	-webkit-animation-delay: -.415s;
	-moz-transform: rotate(180deg);
	-moz-animation-delay: -.415s;
}

#coloumn8 {
	-webkit-transform: rotate(210deg);
	-webkit-animation-delay: -.332s;
	-moz-transform: rotate(210deg);
	-moz-animation-delay: -.332s;
}

#coloumn9 {
	-webkit-transform: rotate(240deg);
	-webkit-animation-delay: -.249s;
	-moz-transform: rotate(240deg);
	-moz-animation-delay: -.249s;
}

#coloumn10 {
	-webkit-transform: rotate(270deg);
	-webkit-animation-delay: -.166s;
	-moz-transform: rotate(270deg);
	-moz-animation-delay: -.166s;
}

#coloumn11 {
	-webkit-transform: rotate(300deg);
	-webkit-animation-delay: -.083s;
	-moz-transform: rotate(300deg);
	-moz-animation-delay: -.083s;
}

#coloumn12 {
	-webkit-transform: rotate(330deg);
	-moz-transform: rotate(330deg);
}

@-webkit-keyframes loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .25;
	}
}

@-moz-keyframes loader {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .25;
	}
}

*#dm *.dmBody div.u_1422486861 {
	background-color: rgba(0, 0, 0, 0) !important
}

*#dm *.dmBody section.u_1897767439 {
	background-image: url(md/unsplash/dms3rep/multi/opt/photo-1496938461470-aaa34930e2d7-2880w.jpg) !important;
	background-color: rgba(181, 49, 44, 1) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important
}

*#dm *.dmBody *.u_1897767439:before {
	opacity: 0.5 !important;
	background-color: rgb(255, 255, 255) !important
}

*#dm *.dmBody *.u_1897767439.before {
	opacity: 0.5 !important;
	background-color: rgb(255, 255, 255) !important
}

*#dm *.dmBody *.u_1897767439>.bgExtraLayerOverlay {
	opacity: 0.5 !important;
	background-color: rgb(255, 255, 255) !important
}

*#dm *.dmBody section.u_1897767439:before {
	background-color: rgba(181, 49, 44, 1) !important;
	opacity: 0.92 !important
}

*#dm *.dmBody section.u_1897767439.before {
	background-color: rgba(181, 49, 44, 1) !important;
	opacity: 0.92 !important
}

*#dm *.dmBody section.u_1897767439>.bgExtraLayerOverlay {
	background-color: rgba(181, 49, 44, 1) !important;
	opacity: 0.92 !important
}

*#dm *.dmBody div.u_1505275905 input:not([type="submit"]) {
	border-style: solid !important;
	border-width: 0 !important;
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody div.u_1505275905 textarea {
	border-style: solid !important;
	border-width: 0 !important;
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody div.u_1505275905 select {
	border-style: solid !important;
	border-width: 0 !important;
	background-color: rgba(227, 227, 227, 1) !important
}

*#dm *.dmBody *.u_1505275905 .dmformsubmit {
	float: LEFT !important
}

*#dm *.dmBody div.u_1505275905 .dmform-success {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.dmform-error {
	color: rgba(182 49 49) !important
}

*#dm *.dmBody div.u_1505275905 .dmform-success .rteBlock {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.dmform-error .rteBlock {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1505275905 .dmwidget-title {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1505275905 .dmforminput label:not(.for-checkable):not(.custom-contact-checkable) {
	/*color: rgba(102, 102, 102, 1) !important */
}

*#dm *.dmBody div.u_1505275905 .m-recaptcha {
	color: rgba(102, 102, 102, 1) !important
}

*#dm *.dmBody div.u_1020826578 {
	color: rgba(0, 0, 0, 1) !important
}

*#dm *.dmBody section.u_1897767439 {
	background-image: url(md/unsplash/dms3rep/multi/opt/photo-1496938461470-aaa34930e2d7-1920w.jpg) !important;
	background-color: rgba(181, 49, 44, 1) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important
}

@media all and (min-width:1920px),
all and (-webkit-min-device-pixel-ratio: 1.5),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {
	*#dm *.dmBody section.u_1897767439 {
		background-image: url(md/unsplash/dms3rep/multi/opt/photo-1496938461470-aaa34930e2d7-2880w.jpg) !important;
		background-color: rgba(181, 49, 44, 1) !important;
		background-repeat: no-repeat !important;
		background-size: cover !important
	}
}

*#dm *.dmBody h1.u_1453001980 {
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	float: none !important;
	margin-right: 157.5px !important;
	margin-left: 157.5px !important;
	top: 0 !important;
	max-width: calc(100% - 157px) !important;
	left: 0 !important;
	width: 645px !important;
	margin-top: 66px !important;
	position: relative !important;
	margin-bottom: 8px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
	height: auto !important;
	display: block !important;
}

*#dm *.dmBody h3.u_1453001980 {
	display: block !important;
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	margin-right: auto !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	padding-right: 0 !important;
	min-width: 0 !important;
	text-align: left !important;
}

*#dm *.dmBody section.u_1897767439 {
	padding-top: 13.5px !important;
	padding-left: 40px !important;
	padding-bottom: 13.5px !important;
	float: none !important;
	top: 0 !important;
	max-width: 100% !important;
	left: 0 !important;
	width: auto !important;
	position: relative !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	background-attachment: initial !important;
	background-position: 0 50% !important;
}

*#dm *.dmBody div.u_1505275905 .dmwidget-title {
	font-size: 18px !important;
}

*#dm *.dmBody div.u_1097261032 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 0 !important;
	margin-right: auto !important;
	margin-left: auto !important;
	max-width: 100% !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: center !important;
}

*#dm *.dmBody div.u_1422486861 {
	padding-top: 36px !important;
	padding-left: 40px !important;
	padding-bottom: 36.5px !important;
	float: none !important;
	top: auto !important;
	max-width: none !important;
	left: 0 !important;
	width: 100% !important;
	position: relative !important;
	padding-right: 40px !important;
	min-width: 0 !important;
	text-align: center !important;
	height: auto !important;
}

*#dm *.dmBody div.u_1020826578 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 207px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1020826578 {
	float: none !important;
	top: 0 !important;
	left: 0 !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0 !important;
	padding-bottom: 2px !important;
	max-width: 207px !important;
	padding-right: 0 !important;
	min-width: 25px !important;
	text-align: left !important;
}

*#dm *.dmBody div.u_1330770612 {
	float: none !important;
	top: 0px !important;
	left: 0px !important;
	width: 166px !important;
	position: relative !important;
	height: auto !important;
	padding-top: 2px !important;
	padding-left: 0px !important;
	padding-bottom: 2px !important;
	margin-right: auto !important;
	margin-left: 0 !important;
	max-width: 100% !important;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	padding-right: 0px !important;
	min-width: 0 !important;
	text-align: left !important;
	display: block !important;
}

*#dm *.dmBody div.u_1505275905 {
	padding-top: 0px !important;
	float: none !important;
	top: 0px !important;
	left: 0px !important;
	width: calc(100% - 0px) !important;
	position: relative !important;
	height: auto !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
	max-width: 100% !important;
	margin-top: 22px !important;
	margin-bottom: 0px !important;
	padding-right: 0px !important;
	min-width: 25px !important;
	text-align: center !important;
}

.font-size-26,
.size-26,
.size-26>font {
	font-size: 26px !important;
}

.font-size-18,
.size-18,
.size-18>font {
	font-size: 18px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-16,
.size-16,
.size-16>font {
	font-size: 16px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}

.font-size-14,
.size-14,
.size-14>font {
	font-size: 14px !important;
}